<div class="container">
    <mat-card *ngIf="todolist">
        <mat-card-title>{{todolist.title}}</mat-card-title>
        <mat-card-subtitle>Fülligkeitsdatum: {{todolist.duedate}}</mat-card-subtitle>
        <mat-card-content></mat-card-content>
        <mat-selection-list dense #todolists (selectionChange)="changeTodo(todolists.selectedOptions.selected)">
            <mat-list-option checkboxPosition="before" *ngFor="let todo of todolist.entries" [value]="todo" [selected]="todo.done" >
                {{todo.text}}
            </mat-list-option>
            <mat-hint >

            </mat-hint>

        </mat-selection-list>
        <form [formGroup]="makeEntry" id="newtodo">
            <mat-form-field appearance="legacy" >
                <input matInput id="text" formControlName="text" placeholder="Todo" (keyup.enter)="addEntry()">
                <mat-hint>neue Aufgabe</mat-hint>
            </mat-form-field>
            <button mat-mini-fab color="primary" aria-label="add button" (click)="addEntry()">
                <mat-icon>keyboard_return</mat-icon>
            </button>
        </form>
    </mat-card>
</div>
