<form [formGroup]="makeForm">
    <div id="makeentry" class="container">
        <div class="row">
            <mat-form-field appearance="legacy">
                <input matInput id="title" placeholder="Titel Todo-Liste" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput id="duedate" type="datetime-local" placeholder="Fälligkeitsdatum" formControlName="duedate">
            </mat-form-field>


        </div>
        <mat-divider></mat-divider>

            <div formArrayName="entries" *ngFor="let item of getformData().controls; let i = index">
                <div [formGroupName]="i">
                    <mat-form-field class="entry">
                        <input matInput id="text" formControlName="text" placeholder="Todo">
                    </mat-form-field>
                </div>

            </div>



            <button id="addButton" mat-icon-button color="primary" aria-label="Add Entry" (click)="addEntry()">
                <mat-icon>add</mat-icon>
            </button>

        <mat-divider></mat-divider>
        <button id="saveButton" mat-raised-button color="primary" aria-label="Add Entry" (click)="save()">
            Todo-Liste Speichern
        </button>


    </div>

</form>
