<div class="container" >
    <div id="lists">
        <mat-list *ngFor="let list of todolists" (click)="detailView(list.id)">
            <mat-list-item>{{list.title}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <button id="addbutton" mat-mini-fab color="primary" aria-label="add button" (click)="createView()">
        <mat-icon>post_add</mat-icon>
    </button>
</div>

