
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, "Montserrat", sans-serif;
}

h1{
    color: #fff;
    margin: auto!important;
    line-height: 100%!important;
}

/**LISTVIEW**/
.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 90vw;
    margin: auto;
    max-width: 700px;

}

.container mat-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: fit-content;
    margin: 10px 0;
}

.container mat-card:hover {
    cursor: pointer;
    background-color: #eeeeee;
    transition: 0.3s;
}

#addbutton {
    align-self: flex-end;
    margin-top: 20px;
}

#saveButton{
    width: 30%;
    align-self: flex-end;
    margin-top: 5vh;

}

.mat-form-field {
    padding: 0 16px;
}

#cardmakeitem {
    display: flex;
    flex-direction: column;
}

.frame{
    height: 10vh;
    background-color: rgba(102, 93, 157,0.5);
    display: flex;
}


